<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Agar file ya folder exist karta hai to direct open karo
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Baaki sab requests index.html par bhejo
  RewriteRule . /index.html [L]
</IfModule>